<div>
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1>
                <span class="fa fa-shopping-cart"></span> Orders <small>Statistics Overview</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
                <label>Show months before: </label>
                <input pagination-slider min="1" max="24" step="1" model="showPreviousMonths" callback-fn="aggregateDataSet(selectedMonth, showPreviousMonths, showNextMonths)"/>
        </div>
        <div class="col-xs-3">
            <label>Pediction month: </label></br>
            <select ng-change="aggregateDataSet(selectedMonth, showPreviousMonths, showNextMonths)" ng-model="selectedMonth" >
                <option ng-selected="item == selectedMonth"
                        ng-value="item">{{item}}</option>
                <option ng-repeat="x in selectedMonths" value="{{x}}"  >{{x}}</option>
            </select>
        </div>
        <div class="col-xs-3">
            <label>Show months after: </label>
            <input pagination-slider min="1" max="24" step="1" model="showNextMonths" callback-fn="aggregateDataSet(selectedMonth, showPreviousMonths, showNextMonths)"/>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-area-chart"></i> Chart</h3>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="chartData"
                            chart-labels="chartLabels" chart-series="chartSeries" chart-options="chartOptions" chart-colors="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> Data</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table ng-init="fractionSize = 2" class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Month</th>
                                <th>Orders</th>
                                <th>Mean</th>
                                <th>Low 80%</th>
                                <th>High 80%</th>
                                <th>Low 95%</th>
                                <th>High 95%</th>
                                <th>Method</th>
                                <th>Created</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entry in filteredPredictedOrders" >
                                <!--<td ng-repeat="column in entry">{{column}}</td> -->
                                <td align="right">{{entry.predicted_months}}</td>
                                <td>{{entry.number_of_orders | number}}</td>
                                <td>{{entry.mean | number}}</td>
                                <td>{{entry.low_80 | number}}</td>
                                <td>{{entry.high_80 | number}}</td>
                                <td>{{entry.low_95 | number}}</td>
                                <td>{{entry.high_95 | number}}</td>
                                <td>{{entry.method}}</td>
                                <td>{{entry.create_date}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>


