<!DOCTYPE html>
<html lang="de" ng-app="ControlR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ControllR</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Slider CSS -->
    <link href="third_party/slider/bootstrap-slider.css" rel="stylesheet" type="text/css">

</head>

<body ng-controller="MainController">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard">{{product.name}}</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a ui-sref="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="">
                    <a ui-sref="revenue"><i class="fa fa-fw fa-eur"></i> Revenue</a>
                </li>
                <li class="">
                    <a ui-sref="orders"><i class="fa fa-fw fa-shopping-cart"></i> Orders</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

<script src="third_party/jquery.js"></script>
<script src="third_party/bootstrap.js"></script>
<script src='third_party/angular.min.js'></script>
<script src="third_party/angular-locale_de-de.js"></script>
<script src='third_party/angular-ui-router.min.js'></script>
<script src='third_party/Chart.bundle.min.js'></script>
<!--https://cdnjs.com/libraries/Chart.js/2.5.0-->
<script src='third_party/angular-chart.min.js'></script>
<script src='third_party/slider/bootstrap-slider.min.js'></script>



<script src='app/core/app.js'></script>
<script src='third_party/slider/slider-directive.js'></script>

<script src='app/core/app-controller.js'></script>

<script src='app/dashboard/dashboard-controller.js'></script>
<script src='app/orders/orders-controller.js'></script>
<script src='app/revenue/revenue-controller.js'></script>

<script>
    $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        $(this).addClass("active");
    });
</script>


</body>

</html>

