
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="fa fa-line-chart"></span> Orders <small>Statistics Overview</small>
        </h1>
        <label>Previous month: </label>
        <select ng-change="aggregateDataSetOrders(selectedMonthsOrder)" ng-model="selectedMonthsOrder">
            <option ng-selected="item == selectedMonthsOrder"
                    ng-value="item">{{item}}</option>
            <option ng-repeat="x in selectedMonthsOrders" value="{{x}}">{{x}}</option>
        </select>


        {{go_past}}
        <input type="number" ng-model="go_past" ng-change="aggregateDataSetOrders(selectedMonthsOrder, go_past, go_future)">
        <input type="number" ng-model="go_future" ng-change="aggregateDataSetOrders(selectedMonthsOrder, go_past, go_future)">

    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-area-chart"></i> Chart</h3>
            </div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="meanChartDataOrders"
                        chart-labels="meanChartLabelsOrders" chart-series="series" chart-options="meanChartOptions" chart-click="onClick" chart-colors="chartColors">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">





        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Data</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table ng-init="fractionSize = 2" class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Month</th>
                            <th>Orders</th>
                            <th>Mean</th>
                            <th>Low 80%</th>
                            <th>High 80%</th>
                            <th>Low 95%</th>
                            <th>High 95%</th>
                            <th>Method</th>
                            <th>Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entry in filteredPredictedOrders">
                            <!--<td ng-repeat="column in entry">{{column}}</td> -->
                            <td>{{entry.predicted_months}}</td>
                            <td>{{entry.number_of_orders | number}}</td>
                            <td>{{entry.mean | number}}</td>
                            <td>{{entry.low_80 | number}}</td>
                            <td>{{entry.high_80 | number}}</td>
                            <td>{{entry.low_95 | number}}</td>
                            <td>{{entry.high_95 | number}}</td>
                            <td>{{entry.method}}</td>
                            <td>{{entry.create_date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




    </div>
</div>
<!-- /.row -->


