
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <span class="fa fa-usd"></span> Revenue
        </h1>
        <h4><label>Previous month: </label>
            <select ng-change="filterList(previousMonth)" ng-model="previousMonth">
                <option ng-selected="item == previousMonth"
                        ng-repeat="item in previousMonths"
                        ng-value="item">{{item}}</option>
                <option ng-repeat="x in previousMonths" value="{{x}}">{{x}}</option>
            </select>
        </h4>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-lg-6">
        <h2>Chart</h2>

        <canvas id="line" class="chart chart-line" chart-data="meanChartData"
                chart-labels="meanChartLabels" chart-series="series" chart-options="meanChartOptions" chart-click="onClick">
        </canvas>
    </div>
    <div class="col-lg-6">
        <h2>Table</h2>
        <div class="table-responsive">
            <table ng-init="fractionSize = 2" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>predicted_months</th>
                    <th>mean</th>
                    <th>low_80</th>
                    <th>high_80</th>
                    <th>low_95</th>
                    <th>high_95</th>
                    <th>method</th>
                    <th>create_date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in filteredList">
                    <td>{{entry.predicted_months}}</td>
                    <td>{{entry.mean | number : fractionSize}}</td>
                    <td>{{entry.low_80 | number : fractionSize}}</td>
                    <td>{{entry.high_80 | number : fractionSize}}</td>
                    <td>{{entry.low_95 | number : fractionSize}}</td>
                    <td>{{entry.high_95 | number : fractionSize}}</td>
                    <td>{{entry.method}}</td>
                    <td>{{entry.create_date}}</td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->


